<section class="social-icons">
  <%= link_to "", "", class: "fab fa-linkedin social-icons__icon", target: "_blank" %>
  <%= link_to "", "", class: "fab fa-instagram social-icons__icon", target: "_blank" %>
  <%= link_to "", "", class: "fab fa-flickr social-icons__icon", target: "_blank" %>
  <%= link_to "", "", class: "fab fa-pinterest social-icons__icon", target: "_blank" %>
  <%= link_to "", "", class: "fab fa-facebook-f social-icons__icon", target: "_blank" %>
  <%= link_to "", "", class: "fa fa-user-circle social-icons__icon", target: "_blank" %>
  <%= link_to "", "", class: "fas fa-envelope-square social-icons__icon", target: "_blank" %>
</section>
